<header>
  <h1>
    <a  class="link" href="/">ドラゴンクエストX 占い師デッキレシピ集</a>
  </h1>
  <div class="global-nav">
    <ul class="nav-bar">
      <li><%= link_to "投稿する", new_article_path, class:"post" %></li>
      <li><a href="#">検索する</a></li>
      <%# ユーザーのログイン状態で表示を分ける ユーザー名 ログアウト %>
      <li><a href="#">新規登録</a></li>
      <li><a href="#">ログイン</a></li>
    </ul>
  </div>
</header>